<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>qrli.to | Free QR Code Generator and URL Shortner - Privacy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36558746-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36558746-4');
</script>
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <p class="title is-1">qrli.to </p>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
    <a class="navbar-item">
        Report URL
      </a>

      <a class="navbar-item" href="/privacy">
        Privacy
      </a>
            <a class="navbar-item">
        Contact
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
                    <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=qrlink.to: generate QR code and shorten links for free&amp;hashtags=qrcode&amp;url=https://qrli.to&amp;">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>
                Tweet
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

    <section class="section">
        <div class="container">
  <h1 class="title">Privacy Policy</h1>
  <p>Your privacy is important to us, this privacy policy explains what personal information we collect and how it is used. The site collects this information to analyze and provide better experiences with our services.</p></br>
  <h1 class="title">Technologies and personal data</h1>
  <p>This site may use tools to collect user data, such as your IP address, web browser and operating system, identifying the number of visitors and understand how they use the site.</p></br>
  <h1 class="title">Cookies and advertising network</h1>
  <P>We use third-party advertising companies to serve ads when you visit our site. These companies, such as our advertisers, may use cookies (small text files placed on your device) and similar technologies to collect information for the purpose of displaying ads related to products and services of interest to you.</P></br>
  <p>This site may display advertisements served by Google advertising network, which uses cookies to identify user preferences and browsing habits. Users can get more information about these cookies and privacy on Google's website.</p></br>
  <p>Web browsers accept cookies automatically, but if you prefer you can modify the configuration of your browser to refuse cookies. However, this can affect how you are able to interact with our site and other sites on the Internet.</p>
          </div>
      </div>
    
    </section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
    Copyright ©<script>document.write(new Date().getFullYear());</script> <strong>qrli.to</strong> All rights reserved. 
    </p>
  </div>
</footer>

</body>

</html>